#infoEventos {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 67%;
    height: 85%;
    display: none;
    padding-top: 2%;
    padding-left: 5%;
    border: 2px solid black;
    background-color: rgba(175, 247, 208, 0.63);

}


#infoEventos input {
    background: #7edaae8a !important;
    color: black !important ;  
    border: 2px solid #5dae87 !important;
    margin: 2px 5px !important;
    width: 33% !important;
    height: 45% !important;
    font-size: 15px !important;
    padding: 2% !important;
}

#AgregaEvento {
    position: absolute;
    top: 85%;
    left: 80%;
    width: 13%;
    height: 10%;
    font-size: 15px;
    padding: 0.25%;
    border: 2px solid #fff;
}

#cerrarInfo {
    position: absolute;
	width: 5% !important;
	height: 5% !important;
	top: 0% !important;
	left: 90% !important;
	background-color: transparent;
	padding: 0%!important;
    border: transparent;
}

.imgCerrar{
    width: 100%;
}

#botonLike{
    position: absolute;
	width: 8% !important;
	height: 8% !important;
	top: 15% !important;
	left: 89% !important;
	background-color: transparent;
	padding: 0%!important;
    border: transparent;

}
#botonSuscribe{
    position: absolute;
	width: 8% !important;
	height: 8% !important;
	top: 33% !important;
	left: 89% !important;
	background-color: transparent;
	padding: 0%!important;
    border: transparent;

}
#numLikes{
    position: absolute;
	width: 8% !important;
	height: 8% !important;
	top: 20% !important;
	left: 85% !important;
}

#imgLike{
    width: 100%;
}

#info {
    position: relative;
    padding: 5%;
}

#confirmar{
    display: flex;
    flex-flow: row nowrap;
}

h5{
    width: fit-content;
    margin: 1%;
    margin-right: 0%;
}
