body {
	width: 98.72vw;
	height: 100vh !important;
	margin: 0% !important;
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Work Sans', sans-serif;
	background: whitesmoke !important;

}

.enlacesEventos {
	text-decoration: none;
	color: #5dae87;
}

.enlacesEventos:hover {
	text-decoration: none;
	color: #42966e;
}

/*Eventos*/

#sectionEventos {
	height: 77%;
	position: relative;
	top: 10%;
	background: whitesmoke !important;
	padding: 100px 0;
	color: #fff;
	padding: 0px;
	width: 100%;

}
#listaEventos{
	margin-left: 5%;
}

label {
	color: #42966e;
}

/*Formulario con la info que pertenece a los eventos (tipo contaminación y comunidad) */
#datos {
	position: relative;
	padding-left: 75%;

}

/*Div y botones de agregar eventos*/

.login-list-section {
	margin: -30% !important;
	position: absolute;
	top: 95% !important;
	left: 55% !important;
	padding: 1.5% !important;
	width: 45% !important;
	height: 93% !important;
	background:#5dae87c0 !important;
	color: #fff;
	display: none;

}

.login-list-section form {
	width: auto;
	/*text-align: center;*/
	margin: 1px auto 0 auto !important;
}

 input {
	background: #e3f4ecc1!important;
	color: #fff;
	color: rgba(255, 255, 255, .75);

	border: 2px solid rgba(11, 11, 11, 0.511)!important;
	margin: 2px 5px!important;

	width: 53%!important;
    height: 45%!important;
    font-size: 15px!important;
    padding: 2%!important;

}

.login-list-section select {
	background: #e3f4ecc1!important;
	color:  rgba(11, 11, 11, 0.511)!important;
	color: rgba(255, 255, 255, .75);
	border: 2px solid rgba(11, 11, 11, 0.511)!important;
	margin: 10px 5px;
	border-radius: 999px;
	width: 63%!important;
    height: 45%!important;
    font-size: 15px!important;
    padding: 2%!important;
}
.login-list-section select option {
	background: #c8ead9;
	color: black;
	border: 2px solid #eee;
	font-size: 15px!important;
  
}

.login-list-section input:focus {
	outline: none;
	color:black;
}


#cerrar {
	position: absolute;
	width: 8% !important;
	height: 8% !important;
	top: 0% !important;
	left: 87% !important;
	background-color: transparent;
	padding: 0%!important;
	border: transparent;

}
#guardar {
	position: absolute;
	width: 30% !important;
	top: 78% !important;
	left: 68% !important;
	padding: 1%!important;
	font-size: 15px!important;
	background: #f6fffbd2!important;
	border: 2px solid rgba(11, 11, 11, 0.511)!important;

}