@media screen and (min-width: 1200px ){
   /*  #logo_web {
        width: 10%;
        height: 110%;
        margin-top: -0.6%;
        margin-right: 5%;
    }
    #nombre_web {
        top: 1%;
        width: 60%;
        margin: 2% 2% 2% 2%;
    } */
    

}
