/*Basics*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
html a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html,
body {
	min-height: 100%;
	max-width: 100%;
}

body {
	font-size: 17px;
	color: #444;
	margin: 0%;
	width: 100vw;
	height: 150vh;
	display: flex;
	flex-flow: column nowrap;
	background-color: #fff;
	font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #444;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 54px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 18px;
}

p {
	line-height: 1.4;
	margin: 20px 0;
}

p.subtitle {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: #777;
	text-align: center;
}

img,
embed,
object,
video {
	max-width: 100%;
}


ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #023e4b;
}

a:hover {
	text-decoration: none;
	color: #03677d;
}

::selection {
	background: #444;
	color: #fff;
}

.clear {
	clear: both;
}

#wrapper-imagenes {
	margin: 0 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	/* background-image: url(../img/fondo-tierra.jpg); */
}

input[type=text] {
	border: 2px solid #444;
	background: #fff;
	font-size: 17px;
	color: #444;
	padding: 16px;
	border-radius: 999px;
	width: 280px;
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

input[type=password] {
	border: 2px solid #444;
	background: #fff;
	font-size: 17px;
	color: #444;
	padding: 16px;
	border-radius: 999px;
	width: 280px;
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

.buttons {
	width: auto;
	margin: 0 auto;
	text-align: center;
}

button {
	color: #fff;
	background: #04BFBF;
	border: 2px solid white;
	border-radius: 999px;
	margin-top: -2px;
	margin-left: 10px;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	display: inline-block;
	width: 220px;
	margin: 10px;
	text-align: center;
	padding: 18px 0;
}


/*Header*/

header#top {
	background: #d9695fb5;
	height: 15vh;
}

#barra_inicio {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

div.logo {
	width: 20%;
	height: 100%;
	margin: 0%;
	float: left;
}

div.logo img {
	margin: 1%;
	color: #444;
	width: 100px;
	height: 100%;
}

#barra_inicio nav {
	display: inline-block;
	float: right;
	width: auto;
	margin: 1%!important;
}

header#top nav ul li {
	display: inline-block;
	float: none;
}

header#top nav ul li a {
	display: inline-block;
	background: none;
	padding: 5% 15px;
	color: #023e4b;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

header#top nav ul li a:hover {
	color: #03677d;
}

header#top nav ul li a.nav-cta {
	color: #023e4b;
	border: 2px solid #023e4b;
	border-radius: 999px;
	margin-top: -2px;
	margin-left: 10px;
}


/*Banner*/

#banner {
	height: 80vh;
	background: #f1f6f4 url(../img/fondo_tierra_header.jpg) no-repeat center;
	position: relative;
	padding: 1px 0 0 0;
}

#banner h2 {
	margin: 6% auto 0;
	padding: 0 5%;
	opacity: 1;
	color: rgb(255, 255, 255);
	font-size: 108px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.03em;
}

#banner p.subtitle {
	font-size: 20px;
	margin: 10px 0 50px 0;
}

@media only screen and (max-width: 1024px) {
	#banner h2 {
		font-size: 400%;
		margin-top: 100px;
		padding: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	#banner h2 {
		font-size: 64px;
		margin-top: 64px;
	}

	#banner p.subtitle {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1024px) {
	#banner {
		height: 420px;
	}
}

@media only screen and (max-width: 480px) {
	#banner {
		height: 400px;
	}
}

/* Desplegable eventos */
#flecha-apertura {
	visibility: hidden;
	width: 1%;
	height: 5%;
	position: fixed;
	top: 20%;
	right: 0%;
	background-color: #d9695fb5;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
}

#logo-apertura-banner {
	width: 600% !important;
	margin-top: 60%;
}

#desplegable-eventos {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #222;
	width: 30%;
	height: 100%;
	display: none;
}

#contenedor-eventos {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 100%;
}

#eventos-likes {
	background-color: #f6d7d5;
	color: white !important;
	width: 100%;
	height: 100%;
}

#eventos-recientes {
	background-color: #eeb0aa;
	width: 100%;
	height: 100%;
}

#eventos-proximos {
	background-color: #e99c95;
	color: white !important;
	width: 100%;
	height: 100%;
}

/* info de Eventos Banner */
#infoEventosBanner {
	display: none;
	position: fixed;
	top: 26vh;
	left: 19.1vw;
	width: 50vw;
	height: 67vh;
	background-color: #222;
	z-index: 3000;
}

#textoEventosBanner {
	display: flex;
	flex-flow: column nowrap;
	width: 96%;
	height: 94%;
	margin: 2%;
	background-color: #222;
	color: #e4e4e4;
}

#nombreEventoBanner {
	color: #e4e4e4 !important;
	border: none;
}

#horaylugar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#contTipoContBanner {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	margin: 0% auto;
	width: 40%;
}

#tipoContEventoBanner {
	margin-left: 3%;
}

#informacionEventoBanner {
	width: 90%;
	height: 20%;
	margin: 0% auto;
}

#vermasEventoBanner {
	color: #023e4b !important;
	width: 20%;
	height: 10%;
	text-align: center;
	margin: 2% 5% 1% auto;
	align-content: center;
	padding: auto;
	font-size: 12px;
}

/*Login Section*/

.login-list-section {
	background: #023e4b;
	padding: 100px 0;
	color: #fff;
	padding: 20px;
	height: 100%;
	width: 100%;
	margin: auto auto;
	z-index: 3000;
}

.login-list-section select {
	border: 2px solid #eee !important;
	margin: 10px 5px;
	border-radius: 999px;
	width: 63% !important;
	height: 45% !important;
	font-size: 15px !important;
	font-weight: bolder !important;
	padding: 2% !important;
	background: #023e4b;
	color: #fff !important;
	color: rgba(255, 255, 255, .75);
}

.login-list-section select option {
	background: #cdfefe;
	color: black;
	border: 2px solid #eee;
	font-size: 15px !important;
}

.login-list-section h3 {
	color: #fff;
	/*text-align: center;*/
}

.login-list-section p.subtitle {
	color: #bfeed7;
	font-size: 17px;
}

.login-list-section form {
	width: auto;
	/*text-align: center;*/
	margin: 40px auto 0 auto;
}

.login-list-section input {
	background: #023e4b;
	color: #fff !important;
	color: rgba(255, 255, 255, .75);
	border: 2px solid #eee;
	margin: 10px 5px;
}

.login-list-section input::placeholder {
	color: #fff !important;
}

.login-list-section input:focus {
	outline: none;
	color: #fff;
}

.login-list-section button {
	margin: 10px 5px;
}

/*Portfolio Section*/

.portfolio-section {
	text-align: center;
	padding: 100px 0;
	background: #fff;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-flow: column nowrap;
}

/* #tituloCont{
	color: #3c1714 !important;
} */

.portfolio-section p.subtitle {
	color: #d9695fb5;
	font-size: 17px;
}

ul.portfolio-list {
	width: 90%;
	max-width: 1190px;
	margin: 50px auto 60px;
}

ul.portfolio-list li {
	display: inline-block;
	float: left;
	width: 30.3%;
	background: #fff;
	padding: 0;
	margin: 1.5%;
}

ul.portfolio-list li a:hover {
	opacity: .5;
}

.texto-oculto {
	position: absolute;
	top: 145%;
	height: 61%;
	width: 27.3%;
	overflow: hidden;
	/* display: none; */
	visibility: hidden;
	text-align: justify;
	padding: 2%;
}

@media only screen and (max-width: 960px) {
	ul.portfolio-list li {
		display: block;
		width: 47%;
		margin: 1.5%;
	}
}

@media only screen and (max-width: 720px) {
	ul.portfolio-list li {
		display: block;
		width: 100%;
		margin: 3% 0;
	}
}

/*Portfolio hovering section*/
.photo-overlay:hover+.texto-oculto {
	/* display: block; */
	visibility: visible;
}

.texto-oculto:hover {
	visibility: visible;
	background-color: rgba(255, 255, 255, .75);
	cursor: default;
}

/*Footer*/

footer {
	background: #d9695fb5;
	margin-top: 0px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	height: 20vh;
}

#wrapper-footer {
	margin: 0 0;
	width: 100%;
	height: 100%;
}

footer a.logo {
	display: block;
	float: left;
	color: #fff;
	text-indent: -4999px;
	background: url(../images/logo-footer.png) no-repeat;
	margin: 0 0 0 40px;
	padding: 0 0 40px 0;
	width: 56px;
	height: 74px;
}

footer .footer-left {
	float: left;
	text-align: left;
	margin-top: 5px;
	margin-left: 50px;
}

footer .footer-right {
	float: right;
	margin-top: 20px;
	text-align: right;
}

footer p {
	font-size: 17px;
	margin: 5px;
}

footer p.copyright {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

footer .footer-links {
	color: #777;
}

footer .footer-links a {
	color: #777;
	margin: 0 20px;
}

footer .footer-links a:hover {
	color: #5dae87;
}

footer .footer-links a:first-of-type {
	margin: 0 20px 0 0;
}

footer .footer-right a.social {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: no-repeat center;
	text-indent: -4999px;
	overflow: hidden;
	text-align: left;
	background-color: #363636;
	border-radius: 999px;
	margin-left: 10px;
}

footer .footer-right a.social:hover {
	background-color: #5dae87;
}

footer a.social.facebook {
	background-image: url(../images/social-facebook.png);
}

footer a.social.twitter {
	background-image: url(../images/social-twitter.png);
}

footer a.social.google {
	background-image: url(../images/social-google.png);
}

@media only screen and (max-width: 960px) {
	footer {
		padding: 30px 0;
	}

	footer .footer-left,
	footer .footer-right,
	footer a.logo {
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	footer .footer-left {
		margin-bottom: 20px;
	}

	footer a.logo {
		margin: 10px auto 40px auto;
	}

	footer .footer-links a {
		margin: 0 5px !important;
		font-size: 14px;
	}
}

/* ------------------------------------------------------------------------------------ */

.oculto {
	display: none;
}

/*the properties could be changed using javascript*/

#mostrarCuenta {
	display: none;
}

.anterior {
	position: absolute;
	left: 2%;
	top: 50%;
}

.siguiente {
	position: absolute;
	right: 2%;
	top: 50%;
}

#imagen {
	display: none;
	width: 100%;
	height: 100%;
}

/* #imagen2{
	display: none;
	width: 100%;
	height: 100%;
} */

.img_banner {
	width: 100%;
	height: 100%;
}

#puntos {
	position: absolute;
	top: 90%;
	left: 45%;
	width: 10%;
	height: 10%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	z-index: 3000;
}

.punto {
	width: 100%;
	height: 50%;
}

h5 {
	border-bottom: 2px solid #222;
	padding: 3% 5% 3% 5%;
}

#login {
	display: none;
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	height: 75%;
}

#cerrarLogin {
	position: absolute;
	top: 1%;
	left: 85%;
	width: 10%;
	height: 10%;
	background-color: transparent!important;
	padding: 0% !important;
	border: transparent!important;
}

#mostrarCuenta {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	height: 75%;
}

#cerrar {
	position: absolute;
	top: 1%;
	left: 92%;
	width: 8% !important;
	height: 8% !important;
	background-color: transparent!important;
	padding: 0% !important;
	border: transparent!important;

}

@media screen and (orientation: portrait),
(max-width: 950px) {
	ul.portfolio-list li {
		display: block;
		float: none;
		width: 30.3%;
		background: #fff;
		padding: 0;
		margin: 1.5%;
	}

	#banner h2 {
		margin-top: 0px;
	}

	#login {
		position: fixed;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
	}

	#mostrarCuenta {
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
	}

	.texto-oculto {
		position: inherit;
		width: 300%;
		display: block;
		visibility: inherit;
	}
}

#condicionesLink {
	color: white;
	text-decoration: underline;
}

#condicionesLink:hover {
	color: rgb(7, 7, 7);
}