/*Team Section*/

.team-section {
    font-family: 'Work Sans', sans-serif;
	text-align: center;
	padding: 30px 0;
	background: #66c195;
}

#volver{
    position: absolute;
    top: 1%;
    left: 1%;
    text-decoration: none;
    color: #fff;
}

.team-section p.subtitle {
	color: #5dae87;
	font-size: 17px;
}

ul.team-list {
	width: 90%;
	margin: 150px auto 60px;
}

ul.team-list li {
	display: inline-block;
	float: left;
	width: 30.66%;
	background: #fff;
	padding: 40px 0;
	margin: 0 2%;
}

ul.team-list li:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,.1);
}

ul.team-list li .image-container {
	width: 100%;
	margin: -150px auto 40px auto;
}

ul.team-list li .image-container img {
	width: 220px;
	height: 220px;
	background: #222;
	border-radius: 999px;
}

ul.team-list li p {
	width: 80%;
	margin: 20px auto 40px auto;
}

ul.social-links {
	width: 164px;
	margin: 0 auto;
	text-align: center;
}

ul.social-links li {
	float: left;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	width: 48px;
	height: 48px;
}

ul.social-links li a {
	background: #e4e4e4 center no-repeat;
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -4999px;
	border-radius: 999px;
}

ul.social-links li a:hover {
	background-color: #5dae87;
}

ul.social-links li a.facebook {
	background-image: url(../images/social-facebook.png);
}
ul.social-links li a.twitter {
	background-image: url(../images/social-twitter.png);
}
ul.social-links li a.google {
	background-image: url(../images/social-google.png);
}

ul.social-links li:hover {
	box-shadow: none;
}

ul.team-list li a:hover {
	color: #42966e;
}

ul.team-list li:first-of-type {
	margin-left: 0;
}

ul.team-list li:last-of-type {
	margin-right: 0;
}

@media only screen and (max-width: 960px) {
	ul.team-list li {
		display: block;
		width: 100%;
		margin: 80px 0!important;
	}
	ul.team-list li:first-of-type {
		margin-top: 0!important;
	}
	ul.social-links li {
		float: left;
		display: inline-block;
		width: 48px;
		margin: 0 3px!important;
	}
}